<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  </head>
  <body>
    <h1>Home</h1>
    <div class="">
      This is the first template that we have. Maybe try going to our
      <a href="/about" style="text-decoration: none; font-size: 2em; color: rgb(200, 200, 200);">about page.</a>
    </div>



    <div class="ui segment">
      {% for project in projects %}
      <div class="ui three column grid">
        <div class="four wide column">
        </div>
        <div class="eight wide column">
          <h3 class="ui header">{{ project.title }}</h3>
          <p class="ui description">{{ project.description }}</p>
        </div>
        <div class="four wide column">
        </div>
      </div>
      {% endfor %}

    </div>



  </body>
</html>
